
* {
    padding: 0px;
    margin: 0px
}

.icon {
    cursor: pointer;
    margin-right: 50px;
    line-height: 60px
}

.icon span {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px
}

.icon img {
    display: inline-block;
    width: 26px;
    margin-top: 4px
}

.icon:hover {
    opacity: .7
}

.logo {
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace
}

.notifications {
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.notifications h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p {
    color: #aaa;
    font-size: 12px
}

#homepage section {
    padding-top: 50px;
    padding-bottom: 50px;
}
#homepage section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
    text-align: left;
    margin-bottom: 20px;
}
#homepage section p {
    font-size: 16px;
    font-weight: 300;
}
#homepage button {
    max-width: 50%;
    border-radius: 50px !important;
}
#homepage .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}
#homepage .img-col {
    justify-content: flex-end;
}
#homepage img {
    max-width: 100% !important;
    width: 100%;
}

#homepage .img-col img{
    max-width: 60% !important;
    width: 60%;
}
#homepage .card {
    box-shadow: 2px 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}
#homepage .icon {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
    margin-right: 0;
}